<div class="container">
    <h1>Enviar correo JS</h1>
		<form id="contact-form">
			<div class="row text-center form-group">
				<div class="col-md-2">
					<label>Destinatario:</label>
				</div>	
				<div class="col-md-4">
					<input id="mailto" type="email" name="email" class="form-control" placeholder="correo..." ng-model="mail.correoDestino">
				</div>
				<div class="col-md-2">
					<label>Asunto:</label>
				</div>	
				<div class="col-md-4">
					<input id="asunto" type="text" class="form-control" placeholder="Escribe un asunto.." ng-model="mail.asunto">
				</div>
			</div>
			<div class="row text-center form-group">
				<div class="col-md-2">
					<label>Cuerpo del mensaje</label>
				</div>
				<div class="col-md-10">
					<textarea id="bodyMessage" class="form-control" placeholder="Escribe tu correo" ng-model="mail.cuerpoCorreo"></textarea>
				</div>
			</div>
			<div class="row text-center">
				<input class="btn btn-primary col-md-2" type="submit" name="enviar" value="Enviar correo" ng-click="sendMail();" style="margin-right: 5px;">
				<input class="btn btn-danger col-md-1" type="button" name="limpiar" value="Limpiar" ng-click="cancel();">
			</div>
		</form>
</div>