<div class="container jumbotron" ng-controller="HomeCtrl">
    <div class="bg"></div>
    <div class="jumbotron">
        <h1 class="display-3">Jumbo heading</h1>
        <p class="lead">Jumbo helper text</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="wrap-generic">
        <h1>Servicio de correos para tu sitio web</h1>
    </div>
</div>