<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <h1>Solicitud de cotización</h1>
    <p style="font-size:18px;">El ciudadano <strong> {nombre} </strong> que labora en la empresa <strong> {empresa} </strong> ha solicitado una cotización con las siguientes características: </p>
    <p style="font-size:18px;">Solicito un flete de <strong> {producto} </strong> con temperatura <strong> {temperatura} </strong> en <strong> {tipoTransporte} {cruceInternacional} </strong> necesito <strong>  {numeroViajes} </strong> viaje(s) cada <strong> {concurrencia} </strong>, saliendo de la ciudad de <strong> {ciudadOrigen} </strong>, <strong>  {estadoOrigen} </strong>, <strong> {paisOrigen}  </strong>  con Código Postal <strong> {cp} </strong>, y teniendo como destino la ciudad de <strong> {ciudadDestino} </strong>, <strong> {estadoDestino} </strong>, <strong> {paisDestino} </strong> con Código Postal <strong> {cpDest} </strong>. Me puede localizar en el correo electrónico de
    <strong> {email} </strong> o bien en el teléfono <strong> {telefono} </strong>.</p>
    <p style="font-size:18px;">El cliente adicionalmente agrega las siguientes notas: <br/><strong> {mensaje} </strong></p>
</body>

</html>