<div class="container" ng-controller="LoginCtrl">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="loginForm-title" style="background-image: url(resources/images/bg-01.jpg);">
                    <span class="loginForm-title-1">
                        Cambio de contraseña
                    </span>
                </div>
                <form class="loginForm validate-form" name="loginForm" id="loginForm" style="background: #ebeeef;">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="dato requerido">
                        <span class="label-input100">Correo</span>
                        <input class="input100" type="email" ng-model="user.email" name="email"
                            placeholder="email@email.com" required>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="dato requerido">
                        <span class="label-input100">Nueva contraseña</span>
                        <input class="input100" type="password" ng-model="user.password" name="password"
                            placeholder="nueva contraseña" required>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="dato requerido">
                        <span class="label-input100">Confirmar contraseña</span>
                        <input class="input100" type="password" ng-model="user.confirmPassword" name="confirmPass"
                            placeholder="Confirmar contraseña" ng-change="comparePasswords(true)" required>
                        <span class="focus-input100"></span>
                    </div>
                    <div id="passwordValidator"></div>
                    <div class="container-loginForm-btn">
                        <button class="loginForm-btn" ng-click="cambiarPass();">
                            Cambiar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>