<div class="container">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-generic">
                <div class="paginaNoEncontrada">
                    <div class="title">
                        <h2>Whoops!</h2>
                    </div>
                    <h2>Página no encontrada</h2>
                    <img src="../../../resources/images/pageNotFound.jpg" alt="Not Found" />
                </div>
            </div>
        </div>
    </div>
</div>